{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h2><a href="/home">← Home</a></h2>
<form method="POST">
    <div class="employee-form">
        <div class="field">
            <label for="first">First Name</label>
            <input type="first" id="first" name="first" placeholder="Enter Employee First Name" />
        </div>
        <div class="field">
            <label for="first">Last Name</label>
            <input type="last" id="last" name="last" placeholder="Enter Employee Last Name" />
        </div>
        <div class="field">
            <label for="pay">Pay</label>
            <input type="number" id="pay" name="pay" placeholder="Enter Pay" />
        </div>
    </div>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}